<<<<<<< HEAD
.dark-bg{
    background-color: rgb(24, 20, 20);
}
.blue-bg{
    background-color: blue;
}

.pink-bg{
    background-color: pink;
}

.gray-bg{
    background-color: rgb(133, 128, 128);
}

.purpul-bg{
    background-color: purple;
=======
.init-bg{
    background-color: #F4F7FF;
>>>>>>> c4134e7e63b37306aa0e72da9d36b99901edd6ef
}